body {
    background-color: #2c3e50;
    margin-left: 0px;
    margin-right: 0px;
}

@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Binggrae-Bold';
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 7rem;
    text-shadow: 1px 1px 15px #0a141f;

}

.amPm{
    display:block;
    align-content: center;
    padding-top: 0px;
}

h4{
    text-align: center;
    font-family: Binggrae-Bold;
    margin-top: 0px;
    background-color: antiquewhite;
    border-radius: 20px;
    margin-left: 47%;
    margin-right: 47%;
}

.greetings{
    text-shadow: none;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size:225%;
    background-color:blanchedalmond;
    color:#2c3e50;
    box-shadow: 1px 1px 5px #0a141f50;
    
    
}

.js-form {
    /*text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: none;
    */
    text-shadow: none;
    margin-top: 5px;
    font-size:225%;
    background-color:blanchedalmond;
    color:#2c3e50;
    border-radius: 30px 30px;
    box-shadow: 1px 1px 5px #0a141f50;
    
}

.form{
    display: none;
}

.showing{
    display: block
}

@keyframes fadeIn {
    from{
        
        -webkit-filter: blur(50px);
    } 
    to {
        
        -webkit-filter: blur(0px);
    }
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 1s linear;

}


.span{
    background-color: bisque;
    border-radius: 30px;
    margin-right: 50%;
}

@media screen and (max-width: 1000px) {
    h1 {
        color: #ffffff;
        text-align: center;
        font-family: 'Binggrae-Bold';
        margin: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        font-size: 5rem;
        text-shadow: 1px 1px 15px #0a141f;
    }

    .greetings{
        text-shadow: none;
        margin-top: 5px;
        font-size:180%;
        background-color:blanchedalmond;
        color:#2c3e50;
        border-radius: 30px 30px;
        box-shadow: 1px 1px 5px #0a141f50;
    }

    .toDoClass{
        background-color: bisque;
        border-radius: 30px;
        margin-right: 0;
    }
}